################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/i2c.cpp
/i2c.h
/i2c.py
/.vs/x/v15
